<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">Login</h1>
            </div>
            <div class="form-floating mb-3">
                <input 
                    [class.is-invalid] = "loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                    type="email" 
                    formControlName="email" 
                    class="form-control" 
                    id="floatingInput" 
                    placeholder="Email">
                <label for="floatingInput">Email address</label>
                <div *ngIf="loginForm.get('email')?.errors?.['required']" class="invalid-feedback">Please enter email id</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']" class="invalid-feedback">Please enter a valid email id</div>
            </div>
            <div class="form-floating">
                <input 
                    [class.is-invalid] = "loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                    type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                <div *ngIf="loginForm.get('password')?.errors?.['required']" class="invalid-feedback">Please enter password</div>
                <div *ngIf="loginForm.get('password')?.errors?.['password']" class="invalid-feedback">Please enter a valid password</div>
                
            </div>
            <div class="d-grid">
                <button 
                [class.disabled] = "loginForm.status ==='INVALID'"
                class="btn btn-lg btn-primary mt-3" type="submit">Sign In</button>
            </div>
        </form>
    </div>
    <!--<div class="col-4 ms-5">
        <p>Form status : {{loginForm.status}}</p>
        <p>Email status : {{loginForm.get('email')?.status}}</p>
        <p>Email touched : {{loginForm.get('email')?.touched}}</p>
        <p>Email dirty : {{loginForm.get('email')?.dirty}}</p>
        <pre>{{loginForm.value | json}}</pre>
    </div>-->
</div>
