<header *ngIf="totalCount && pageNumber && pageSize">
    <span *ngIf="totalCount">
        Showing 
        <strong>
            {{(pageNumber -1) * pageSize +1}} -
            {{pageNumber * pageSize > totalCount
                ? totalCount
                : pageNumber * pageSize
            }}
        </strong> 
        of 
        <strong>
            {{totalCount}}
        </strong> 
        results
    </span>
</header>
<span *ngIf="!totalCount">
    There are <strong>0</strong> results for this filter/search
</span>

